.main{
    width: 100%;
    height: 50%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1%;
}
.connection{
    font-size:xx-large;
}
.form{
    width: 100%;
    height: 66vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;
}
.connect{
    width: 100%;
    margin-bottom: -25%;
}
.inputs{
    font-size: medium;
    margin-top: -15%;
}

.icon{
    font-size: large;
    margin-left: 10px;
}

.forgotPassword{
    font-size:15px;
    cursor: pointer;
    /* color: var(  --text-third-color); */
    margin-top: -50%;
    text-decoration: underline;
}

.switchAndForgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.firstButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    margin-top: -35%;
}



.clickHere{
    margin-right: 5px;
   text-decoration: underline;
   color: var(--bg-secondary-color);
}

/* .secondButtonContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}

.secondButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    margin: -15px;
} */