.main{
    width: 100vw;
    height: 86vh;
    /* margin-top: 14vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* gap: 1rem; */
}

.form{
    width: 100%;
    height: 66vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;
}
.connect{
    margin: -25px;
}
.inputs{
    font-size: medium;
    margin: -20px;
}

.icon{
    font-size: large;
    margin-left: 10px;
}

.forgotPassword{
    font-size:15px;
    cursor: pointer;
    /* color: var(  --text-third-color); */
    margin-top: -40px;
}

.switchAndForgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.firstButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    margin: -25px;
}

.secondButtonContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}

.secondButton{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    margin: -15px;
}