.label {
  width: 100%;
  height: 19px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  /* line-height: 19px; */

  text-align: right;
  letter-spacing: 0.01em;

  /* Gray / 5 */

  color: #9c9ca8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* .container {
  width: 100%;
  margin: 5% 1% 5% 0;
} */

.labelRadio {
  font-style: normal;
  font-weight: 800;
  font-size: 80%;
  /* line-height: 19px; */
  margin-right: 18px;
  text-align: right;
  letter-spacing: 0.01em;

  color: #9c9ca8;
}

.radio {
  display: flex;
}
.input[type="text"],
.input[type="number"],
.input[type="url"],
.input[type="tel"],
.input[type="password"],
.input[type="email"],
.input[type="date"],
.input[type="time"] {
  direction: rtl;
  /* box-sizing: border-box;

  /* Auto layout */
  /* justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  margin-right: 7%;
  gap: 10px;
  height: 8vh;
  width: 85%; */

  /* Gray / 1 */
  /* background: var(--text-Fourth-color);
  border-radius: 15px;
  border: var(--input-border-color) 1px solid;
  box-shadow: 2px 2px 8px 2px #e4e1e1c3;
  color: black; */
  /* Inside auto layout */
  /* font-size: large;
  flex: none;
  order: 0;
  flex-grow: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none; */
}
.input[type="password"],
.input[type="tel"],
.input[type="url"],
.input[type="email"],
.input[type="date"],
.input[type="time"],
.input[type="file"]
 {
  /* Auto layout */
  /* display: flex;
  flex-direction: row;
  Gray / 1 */
}

.input[type="file"] {

   /* Gray / 1 */
  /* background: #f8f8fa; */
}

.input[type="date"], .input[type="time"] {
  /* justify-content: center;
  padding: 0px;
  gap: 20px;
  min-width: 150px; */
}

.input[type="text"]:focus,
.input[type="number"]:focus,
.input[type="tel"]:focus,
.input[type="url"]:focus,
.input[type="password"]:focus,
.input[type="password"]:focus,
.input[type="email"]:focus,
.input[type="date"]:focus,
.input[type="time"] :focus {
  /* border: 1px solid var(--bg-secondary-color); */
}

/* input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: large;
  color: var(--text-third-color);
} */

.errorMessage {
  padding: 5px;
  color: red;
}
.submitted input:invalid:focus {
  box-sizing: border-box;

  /* Auto layout */
  /* justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  margin-right: 7%;
  gap: 10px;
  height: 8vh;
  width: 85%; */

  /* Gray / 1 */
  /* background: var(--text-Fourth-color);
  border-radius: 15px; */

  /* box-shadow: 2px 3px 2px 2px #ccc9c9c3; */
  /* color: black; */
  /* Inside auto layout */
  /* font-size: large;
  flex: none;
  order: 0;
  flex-grow: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
  outline-color: red; */
}

.uploadInstructions {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.containerInput input::placeholder {
  text-align: right;
}