.main {
  width: 75%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-family: "Heebo", sans-serif;
}

.container {
  width: 95%;
  direction: rtl;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
}

.days {
  display: flex;
  margin-top: 6px;
  margin-bottom: 10px;
  width: 100%;
}

.header {
  width: fit-content;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.01em;
  white-space: nowrap;
}
.errorMessage {
  align-self: flex-end;
  padding: 5px;
  color: red;
  white-space: nowrap;
}
.isChosen {
  display: none;
}
