.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  cursor: pointer;
  background-color: var(--bg-secondary-color);
  color: var(--text-Fourth-color);
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 20px;
  transition: 0.1s;
}

.button:hover{
  box-shadow: 0 3px 8px rgba(21, 57, 42, 0.25), 3px 3px 8px rgba(21, 57, 42, 0.25)
  , 0 3px 8px rgba(21, 57, 42, 0.25), 0 0 ;
}

.button:focus {
  box-shadow: inset -4px -4px 12px rgba(21, 57, 42, 0.25),
    inset 4px 4px 12px rgba(21, 57, 42, 0.25);
    cursor: default;
    
}

.oppositeColorBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 20px;
  transition: 0.1s;
}

.active {
  background-color: var(--bg-secondary-color);
  color: var(--text-Fourth-color);
}

/* .button:disabled{
    background-color: gray ;
    color:rgb(180, 175, 175);
    pointer-events: none;

} */
