.days,.chooseDay {
    height: 90%;
    width: 90%;
    border: 1px solid var( --text-color);
    border-radius: 50%;
    padding-bottom: 1%;
    margin: 3%;
    cursor: pointer;
    font-size: smaller;
    border: hsl(0, 0%, 80%) 1px solid;

}

.chooseDay{
background-color: var( --bg-secondary-color);
color: var(  --text-Fourth-color);
}