.days,.chooseDay {
    width: 12%;
    border: 1px solid var( --text-color);
    border-radius: 50%;
    padding-bottom: 1%;
    cursor: pointer;;
}

.chooseDay{
background-color: var( --bg-secondary-color);
color: var(  --text-Fourth-color);
}