.main {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.formArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  direction: rtl;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 600;
}

.container {
  width: 90%;
}

.feild {
  width: 100%;
  margin-bottom: 15px;
}

.inputs {
  font-size: medium;
}

.create {
  display: flex;
  align-items: center;
  width: 90%;
  height: fit-content;
}

.icon {
  font-size: large;
  margin-left: 10px;
}

.clickHere {
  margin-right: 5px;
  text-decoration: underline;
  color: var(--bg-secondary-color);
}
