.main{
    width: 100vw;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formArea{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    direction: rtl;
}

.feild{
    margin-bottom: 15px;
}
.inputs{
    font-size: medium;
}

.icon{
    font-size: large;
    margin-left: 10px;
}
