.declaimer {
  color: #ffffffff;
  display: flex;
}

.iconDeclaimer {
  height: 18px;
  margin-right: 22pt;
  margin-top: 7pt;
}

.declaimertext {
  margin-top: 10px;
  margin-right: 1px;
  display: flex;
  font-size: 11px;
  font-family: "Heebo";
  font-weight: 500;
  color: #ffffffff;
  text-align: Right;
  letter-spacing: 1px;
  text-decoration: Underline;
}
