.main {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-secondary-color);
  width: 100%;
  height: 100pt;
  border-radius: 0px 0px 35px 35px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin-bottom: 20px;
}

.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 30pt;
}
