.main {
  min-height: 86vh;
  width: 100%;
  margin-top: 7vh;
  /* margin-top: 15.2vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.header {
  font-size: x-large;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  gap: 15px;
  width: 100%;
}

.priceNone {
  /* display: none; */
  color: blue;
}

.priceInline {
  display: inline;
  color: red;
}

.date {
  /* position: relative; */
  margin-top: -20px;
}
.advanced {
  margin-top: -30px;
  margin-left: 35%;
  font-size: small;
  font-weight: 600;
  text-decoration: underline;
  
}
.selectIcon {
  margin-top: -8px;
}
.iconLabel {
  color: var(--text-third-color);
  font-size: small;
  margin: 2px 12px 8px 0;
}

.button {
  margin-top: 20px;
}
.errorMessage {
  display: block;
  padding: 5px;
  color: red;
}
.submitted input:invalid {
  border-color: red;
}

.submitted input:invalid:focus {
  outline-color: red;
}
