.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  font-family: "Open Sans", sans-serif;
}

.button {
  position: fixed;
  bottom: 0;
}
