.main {
  min-height: 86vh;
  width: 100%;
  margin-top: 7vh;
  /* margin-top: 15.2vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.header {
  font-size: x-large;
  text-align: center;
}

.form {
  padding-left: 45px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 15px;
  width: 100%;
  padding-bottom: 15px;
}

.priceNone {
  /* display: none; */
  color: blue;
}

.priceInline {
  display: inline;
  color: red;
}

.date {
  /* position: relative; */
  margin-top: -20px;
}
.advanced {
  width: 65%;
  margin-top: -20px;
  /* margin-left: 53%; */
  font-size: small;
  font-weight: 500;
  text-decoration: underline;
}
.selectIcon {
  padding-left: 5%;

  width: 100%;
}
.selectIcon div {
  width: 10%;
  flex-basis: 0;
  flex-grow: 1;
  height: fit-content;
}
.iconLabel {
  color: var(--text-third-color);
  font-size: small;
  margin: 2px 12px 8px 0;
}

.button {
  margin-right: -10%;
}
.errorMessage {
  display: block;
  padding: 5px;
  color: red;
}
.submitted input:invalid {
  border-color: red;
}

.submitted input:invalid:focus {
  outline-color: red;
}
.dateLoction {
  align-self: flex-start;
}
