.main{
display: flex;
flex-direction: column;
align-items: center;
gap: 1px;
font-family: 'Open Sans', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-third-color);
  border-radius: 50%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  box-shadow: 0 3px 8px rgba(21, 57, 42, 0.25), 3px 3px 8px rgba(21, 57, 42, 0.25)
  , 0 3px 8px rgba(21, 57, 42, 0.25), 0 0 ;
  transition: 0.2s;
}

/* .button:focus {
  box-shadow: inset -4px -4px 12px rgba(124, 142, 139, 0.25),
    inset 4px 4px 12px rgba(124, 142, 139, 0.25);    
} */

.active {
  background-color: var(--bg-secondary-color);
  height: 52px;
  width: 52px;
}

.icon {
  width: 35px;
  height: 37px;
}
