.main{
    direction: ltr;
    background-color: var(--bg-secondary-color);
    width: 100%;
    border-radius: 0px 0px 25px 25px;    
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    transition: .3s;
    margin-bottom: 20px;
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    padding: 10pt 0pt 1pt 20pt;
        
}
.title{
    font-family: 'Boogaloo', cursive;
    font-style: normal;
    font-size: xxx-large;
    color: var(--text-Fourth-color);
    font-weight: normal;
    font-size: 30pt;
    letter-spacing: -1pt;
    margin-right: 6pt;
    margin-bottom: 10pt;
}

.logo{
    color: var(--text-Fourth-color);
    height: 20%;
    width: 10%;
    margin-bottom: 5%;
        /* animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;  */
      }
      
      @keyframes spin {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }

.options, .scroll{
    direction: rtl;
    display: flex;
    padding-right: 5%;
    padding-bottom: 12pt;
}

.scroll{
background-color:  var(--bg-secondary-color);
position: absolute;
}

.searchContainer{
display: flex;
align-items: center;
direction: rtl;
height: 35px;
width:fit-content;
border: 1px  var(--text-Fourth-color) solid;
border-radius: 20px;
width: 80%;
margin-left: 18%;
}

.icon, .iconSearch{
    color: var(--text-Fourth-color);
    width: 32px;
    cursor: pointer;
    padding-left: 5pt;
    margin-top: 6pt;
}
.icon{
    height:35px;
    margin-top: 1pt;
    margin-right: 5pt;
    
}
.iconSearch{
    height:20px;
    margin-right: 10pt;
    margin-top: 4pt;
}



.visibleInput{
     border: none;
    background-color:transparent;
    color: var(--text-Fourth-color);
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
    outline: none;
}
::placeholder {
    color:#cccccc;
}
