.main {
  align-items: center;
  background-color: var(--bg-secondary-color);
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin-bottom: 20px;
}
.headerHome_container {
  padding-bottom: 8px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options,
.scroll {
  direction: rtl;
  display: flex;
  direction: rtl;
  display: flex;
  justify-content: center;
  padding-bottom: 12pt;
}

.scroll {
  background-color: var(--bg-secondary-color);
  position: absolute;
}

.searchContainer {
  display: flex;
  align-items: center;
  direction: rtl;
  height: 35px;
  width: fit-content;
  border: 1px var(--text-Fourth-color) solid;
  border-radius: 20px;
  width: 80%;
}

.icon,
.iconSearch {
  color: var(--text-Fourth-color);
  width: 32px;
  cursor: pointer;
  padding-left: 5pt;
  margin-top: 6pt;
}
.icon {
  height: 35px;
  margin-top: 1pt;
  margin-right: 5pt;
}
.iconSearch {
  height: 20px;
  margin-right: 10pt;
  margin-top: 4pt;
}
.iconDeclaimer {
  height: 18px;
  margin-right: 5%;
  margin-top: 9pt;
}

.visibleInput {
  border: none;
  background-color: transparent;
  color: var(--text-Fourth-color);
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  outline: none;
  width: 81%;
}

.visibleInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat center center;
}

.visibleInput::placeholder {
  color: #E6E6E6;
  text-align: right;
  font-family: Heebo;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}


.declaimer {
  color: var(--text-Fourth-color);
  display: flex;
}
.declaimertext {
  margin-top: 10px;
  margin-right: 1px;
  margin-bottom: -3px;
  display: flex;
  font-size: 15px;
  font-family: "Heebo";
  font-weight: 500;
  font-style: normal;
  color: var(--text-Fourth-color);
  text-align: Right;
  letter-spacing: 0.1px;
  text-decoration: Underline;
}
::placeholder {
  color: #cccccc;
}
.logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13pt;
  height: 37px;
}
.logo_container {
  display: block;
  align-items: center;
  position: relative;
  padding-top: 16pt;
}
