@import url('https://fonts.googleapis.com/css2?family=Boogaloo:&display=swap');


.headerHome_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    direction: ltr;
    background-color: var(--bg-secondary-color);
    width: 100vw;
    height: 14vh;
    top: 0px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.title{
    font-family: 'Boogaloo', cursive;
    font-style: normal;
    color: var(--text-Fourth-color);
    margin-left: 10px;
}

.logo{
    color: var(--text-Fourth-color);
    height: 38px;
    width: 38px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
      }
      
      @keyframes spin {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }


.options{
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content:center;
    width: 100%; 
    margin-right: 10px;    
}

.iconContainer{
display: flex;
align-items: center;
height: 30px;
width:fit-content;
}

.icon{
    color: var(--text-Fourth-color);
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.input{
    background-color: transparent;
    border: none;
    color: #CCCCCC;
    font-size: 16px;
    width: 100%;
    padding: 6px;
    margin: 8px;
}

.input::placeholder{
    color: #CCCCCC;
    font-size: 16px;
}
