@import url('https://fonts.googleapis.com/css2?family=Boogaloo:&display=swap');

.main{
    direction: ltr;
    background-color: var(--bg-secondary-color);
    width: 100vw;
    border-radius: 0px 0px 25px 25px;    
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.headerHome_container{
}

.titleContainer{   
   
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 20pt 0pt 14pt 0pt;
        
}
.title{
    font-family: 'Boogaloo', cursive;
    font-style: normal;
    font-size: xxx-large;
    color: var(--text-Fourth-color);
    font-weight: normal;
    font-size: 34pt;
    letter-spacing: -1pt;
}

.logo{
    color: var(--text-Fourth-color);
    height: 38px;
    width: 38px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
      }
      
      @keyframes spin {
          from {
              transform:rotate(0deg);
          }
          to {
              transform:rotate(360deg);
          }
      }


.options{
    direction: rtl;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-bottom: 12pt;

}

.searchContainer{
display: flex;
align-items: center;
direction: rtl;
height: fit-content;
width:fit-content;
gap: 8px;
width: 80%;
margin-left: 18%;
}

.icon{
    color: var(--text-Fourth-color);
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-left : 1pt solid white;
    padding-left: 5pt;
    margin-right: 10pt;
    margin-top: 6pt;
}

.visibleInput{
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 6px;
    background-color: var( --input-color);
    transition: .6s;
}

.hiddenInput{
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 6px;
    background-color: transparent;
    transition: .6s;
}

.hiddenInput::placeholder{
    color: var(--bg-secondary-color);
}

.input::placeholder{
    color: var(--bg-third-color);
    font-size: 16px;
}
