.main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    width: 180px;
    height: 210px;
    top: 0px;
    right: 0px;
    background-color: var(--bg-color);
    border-radius: 0 0 0 60px;
    box-shadow:  0 3px 7px rgba(0, 0, 0, 0.1), 0 0
    , -3px 3px 7px rgba(0, 0, 0, 0.1), -3px 3px 7px rgba(0, 0, 0, 0.1) ;
}


.category {
    display: flex;
    background-color: transparent;
    border-radius: 25px 0 0 25px ;
    width: 160px;
    height: 35px;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    direction: rtl;
    padding: 7px;
    gap: 5px;
    transition: .2s;
}

.category:hover {
    font-size: large;
    background: linear-gradient(108.1deg, #F5F5F5 11.2%, #537FE7 88.9%);
}

.iconContainer {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    justify-content: start;
    width: 180px;
    height: 20px;
}

.icon {
    font-size: medium;
    transition: .1s;
}

.icon:hover {
    font-size: large;
    color: var(--bg-secondary-color);
}