.main{
    min-height: 82vh;
    width: 100vw;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.eventsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vh;
    min-height: inherit;
    min-width: 100%;
}

.button{
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: fixed;
    width: fit-content;
    height: 50px;
    bottom: 5px;
    left:0;
    /* background-color: var(--bg-color); */
} 