
.main{
    min-height: 82vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.eventsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4vh;
}

.button{
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: fixed;
    width: fit-content;
    height: 50px;
    bottom: 0;
    left: 0;

    /* background-color: var(--bg-color); */
} 