
.main{
    min-height: 82vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.eventsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 8px;
    gap: 4vh;
}

.button{
    display: flex;
    align-items: center;
    position: fixed;
    width: fit-content;
    bottom: 10px;
    left: 15px;
} 