.loadButton {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 5px;
    padding: 5px 15px 0px 10px;
    justify-content: flex-start;
    z-index: 0.5;
    /* position:static */
  }
  
  @media (min-width: 500px) {
    .loadButton {
      padding: 45px 15px 0px 10px;
      margin: -14px;
      height: 50px;
    }
  }