.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-secondary-color);
}

.logo{
    width: 100%;
    margin: 0% -10% -17% 0%;
}
.logo2{
    width: 90%;
    margin: 0% -7% 15% 0%;
}

.textContainer{
    width: 75%;
    font-size: 16px;
}

.welcom{
    align-items: flex-start;
    color: var(--text-Fourth-color);
}

.text{
    align-items: flex-start;
    color: var(--text-Fourth-color);
}


/* .button{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--text-Fourth-color);
    color: var(--bg-secondary-color);
    font-size: large;
    font-weight: bold;
    border-radius: 12px;
    width: 90%;
    border: none;
} */

.continueButton{
    color: var(--text-Fourth-color);
    font-weight: bold;
}