.main{
    max-width: 97vw;
    height: 20vh;
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow:  0 3px 8px rgba(0, 0, 0, 0.09), 3px 3px 8px rgba(0, 0, 0, 0.09)
    , 0 3px 8px rgba(0, 0, 0, 0.09), 0 0 ;
    cursor: pointer;
}

.imgFrame{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 85%;
    min-height: 85%;
    border-radius: 5px;
}

.infoBar{
    width: 70%;
    height: 85%;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    font-size: smaller;
}

.timeAndDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    color: var(--bg-secondary-color);
    gap: 1%;    
}

.first{
    font-size: medium;
}

.second{
    margin-top: 8%;
}

.paragraphs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    color: var(--text-third-color);
}