.main{
    width: 97%;
    height: 20%;
    margin: 0;
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow:  0 3px 8px rgba(0, 0, 0, 0.09), 3px 3px 8px rgba(0, 0, 0, 0.09)
    , 0 3px 8px rgba(0, 0, 0, 0.09), 0 0 ;
    cursor: pointer;
}

.img{
    width: 18%;
    height: 90px;
    margin-right: 1%;
    border-radius: 5px;
}

.infoBar{
    width: 82%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    font-size: medium;
}

.timeAndDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;    
}

.first{
    margin: 2px;
    margin-bottom: 7px;
}

.second{
    margin: 2px;
    margin-top: 20px;
    flex-direction: column;
}

.paragraphs{
    display: flex;
    flex-direction: row;
    align-items: center;
}