.container {
  direction: rtl;
  width: 100vw;
}

.content {
  /* margin-right: 4%; */
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.favourite{
margin-left: 30px;
}
.coverImage {
  border-radius: 3px;
  max-height: 250px;
  min-height: 250px;
  min-width: 100%;
}
.cardImage {
  border-radius: 5px;
  max-height: 200px;
}

/* .cardsButton {
    width: 150px;
    margin-right: 0px;
} */

.main{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.dataSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.reactIcon {
  margin-left: 20px;
  color: var( --text-Fourth-color);
  padding: 7px;
  background-color: var(--bg-secondary-color);
  border-radius: 15%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.detailsContent {
  margin-bottom: 20px;
}

.detailsTitle {
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 20px;
}

