.container {
  direction: rtl;
  width: 100%;
}

.content {
  /* margin-right: 5%; */
}

.date{
width: 100%;

}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.favourite {
  /* margin-left: 0px; */
}
.coverImage {
  border-radius: 3px;
  max-height: 250px;
  min-height: 250px;
  min-width: 100%;
  max-width: 100%;
}
.cardImage {
  border-radius: 5px;
  max-height: 200px;
}

/* .cardsButton {
    width: 150px;
    margin-right: 0px;
} */

.main {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  color: var(--text-third-color);
}

/* .date{
  color: var(--text-secondary-color);
} */

/* .hourOfEvent{
  color: var(--text-secondary-color);
} */

.dataSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
}

.reactIcon {
  margin-left: 20px;
  color: var(--text-Fourth-color);
  padding: 7px;
  background-color: var(--bg-secondary-color);
  border-radius: 15%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.detailsContent {
  margin-bottom: 20px;
  word-wrap: break-word;
  max-width: 254pt;
}

.detailsTitle {
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 20px;
}

.linkAndButton {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 250px;
  font-size: large;
  font-weight: bold;
}

.containerSecond{
  padding: 0px 20px 0px 20px;
}

.advertiserInfo {
  display: flex;
  flex-direction: column;
}

.advertiserInfo > p {
  color: var(--text-secondary-color);
}
.advertiserInfo > h4 {
  color: var(--text-color);
  font-weight: bold;
}

.publishButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.adminPublish {
  width: 100%;
  height: 50px;
  background-color: var(--bg-secondary-color);
  color: var(--text-Fourth-color);
  font-size: large;
  border-radius: 12px;
  border: none;
}

.active {
  width: 100%;
  height: 50px;
  background-color: var(--text-third-color);
  color: var(--text-Fourth-color);
  font-size: large;
  border-radius: 12px;
  border: none;
}
.cards {
  display: flex;
  align-items: center;
}

.homeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercontainer {
  padding-bottom: 15px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.notBe{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
