.container {
  direction: rtl;
  width: 100vw;
}

.content {
  margin-right: 2%;
}

.section {
  margin-top: 1.5%;
}
.coverImage {
  border-radius: 3px;
  max-height: 250px;
  min-height: 250px;
  min-width: 100%;
}
.cardImage {
  border-radius: 5px;
  max-height: 200px;
}

/* .cardsButton {
    width: 150px;
    margin-right: 0px;
} */

.dataSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.reactIcon {
  margin-left: 20px;
  color: var(--text-secondary-color);
  padding: 7px;
  background-color: #add8e6;
  border-radius: 15%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.detailsContent {
  margin-bottom: 20px;
}

.detailsTitle {
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 20px;
}

.backArrow {
  position: fixed;
  top: 220px;
  right: 95px;
}
