.main {
  align-items: center;
  background-color: var(--bg-secondary-color);
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  margin-bottom: 20px;
  padding-top: 16pt;
}

.logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13pt;
  height: 37px;
}
.declaimer {
  color: #ffffffff;
  display: flex;
}
.declaimertext {
  margin-top: 10px;
  margin-right: 1px;
  display: flex;
  font-size: 15px;
  font-family: "Heebo";
  font-weight: 500;
  font-style: normal;
  color: #ffffffff;
  text-align: Right;
  letter-spacing: 0.1px;
  text-decoration: Underline;
  margin-bottom: 4px;
}
.iconDeclaimer {
  height: 18px;
  margin-right: 5%;
  margin-top: 9pt;
}
