.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container > * {
    margin: 10px 0;
}

.weCouldentFindWhatYouSearched{
    font-size: 30px;
}
.tryAgain{
    color: var(--text-third-color);
}
