@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --bg-color:#F5F5F5;
  --bg-secondary-color:#537FE7;
  --primary-color:#F8F8FA;
  --text-color: #120D26  ;
  --text-secondary-color:#5669FF;
  --text-third-color:#747688;
  --text-Fourth-color :#FFFFFF;
  --input-color:#F8F8FA;
 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Varela Round', sans-serif;
  
}

label {
  font-size: var(--font-size-label);
  font-family: 'Varela Round', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  font-family: 'Varela Round', sans-serif;

}

input{
  font-family: 'Varela Round', sans-serif;

}