.secondHeader {
  width: 100%;
  background-color: var(--bg-secondary-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 8%;
  direction: rtl;
}
.text {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  right: 20%;
  top:30% ;
  color:   var(--text-Fourth-color);
}
.backArrow {
  position: absolute;
  right: 5%;
  top: 35% ;
}
