.secondHeader {
  width: 100vw;
  height: 12vh;
  background-color: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  direction: rtl;
}
.text {
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  right: 70px;
  top: 18px;
  color:   var(--text-Fourth-color);
}
.backArrow {
  height: 25px;
  width: 30px;
  position: relative;
}
