.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    font-size: larger;
    text-align-last: center;
    padding: 10px;
    border-radius: 10px;
    width: 97%;
    min-height: 50vh;
    box-shadow: 4px 0px 14px 4px #776868c3;
    /* position: relative; */
    /* overflow-x: scroll; */
}

.form{
  /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 47vh;
    width: 106%;
}
.select{
  /* border: 1px solid red; */
  display: flex;
}

 .p {
  /* border: 1px solid green; */
  width: 100%; 
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  }
  
  .x{
    width: 35px;
    height: inherit;
  }


  .submitAndCancelBox{
    display: flex;
    gap: 2px;
    direction: ltr;
    margin-right: 71%;
  }

  .submit{
    width: 50px;
    height: 40px;
    color: var(--text-secondary-color);
    background: none;
    border: none;
  }
  .cancel{
    width: 50px;
    height: 40px;
    color: var(--text-third-color);
    background: none;
    border: none;
  }

/* 
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    gap: 6px;
    height: 100%;
    width: 100%;

  } */