.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
    margin-right: 10px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
}

.footerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width:100%;
    padding: 10px;
}

#back {
    background-color: white;
    color: black;
}

.dateBtnSelection {
    display: flex;
    flex-direction: column;
}

.allDateButton{
    padding-right: 7px;
}

.otherButtons{
    display: flex;
    justify-content: space-between;
    padding: 0 7px 0 7px;
    margin-top: 7px;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.categories div {
    flex-basis: 0;
  flex-grow: 1;
    /* margin-top: 1.5%;
    margin-right: 2%;
    margin-left: -5px; */
}

.location {
    padding: 10px;
    /* margin-top: 1.5%;
    margin-right: 2%;
    margin-left: -5px; */
}

.audiences {
    display: flex;
    justify-content: space-around;

}

.audiences div {
    flex-basis: 0;
    flex-grow: 1;
    /* margin-top: 1.5%;
    margin-right: 2%;
    margin-left: -5px; */
}

.section {
    margin-top: 4%;
    margin-bottom: 4%;
}
