.content {
    direction: rtl;
    margin-right: 15px;
}

.title {
    font-weight: 400;
    font-size: 18px;
}

.footerBtn {
    display: flex;
}

#back {
    background-color: white;
    color: black;
}

.dateBtnSelection {
    display: flex;
}

.categories {
    display: flex;
}

.categories div {
    margin-top: 1.5%;
    margin-right: 2%;
}

.audiences {
    display: flex;
}

.audiences div {
    margin-top: 1.5%;
    margin-right: 2%;
}

.section {
    margin-top: 1.5%;
}
